.admin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: colors(white);
  border: standard-border(blue);
  z-index: 40;

  &__content {
    padding: 20px;
  }
}
