.admin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: colors(white);
  // border: standard-border(blue);
  box-shadow: 0px 0px 10px 0px colors(grey);
  z-index: 40;
  width: 90%;
  border-radius: 10px;

  @include medium {
    width: 70%;
  }
  @include large {
    width: 50%;
  }

  &__header {
    &__text {
      background-color: colors(blue-10);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      // border-bottom: 1px solid colors(grey);
      padding: 10px 20px;
      font-weight: bold;
      font-size: 18px;
      color: colors(black);
      box-shadow: 0 5px 28px -10px colors(grey);
    }
  }

  &__contents {
    padding: 20px;
    max-height: calc(100vh - 120px);
    overflow: scroll;
  }
}
