.core-admin-portal {
  &__text-container {
    padding: 30px $standard-padding 15px;
  }

  &__contents {
    padding: $standard-padding;
  }

  &__divider {
    margin: 0px 30px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
  }

  &__section {
    margin: $standard-padding 0px;
  }

  &__section-contents {
    position: relative;
    padding: $standard-padding 0px;
  }

  &__primary-link {
    font-weight: bold;
    text-decoration: underline;
  }

  &__section-title {
    margin: 0px;
    padding-bottom: 5px;
    color: colors(blue-70);
    font-weight: normal;
    // text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid colors(blue-50);
  }

  &__button {
    margin-bottom: 25px;
    font-size: 12px;
  }

  &__request {
    &__text, &__button {
      display: inline-block;
    }

    &__text {
      // font-weight: normal;
    }

    &__button {
      padding-left: 10px;
      color: colors(blue);
      font-weight: bold;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: colors(grey);
      }
    }
  }
}
