.form {
  &__contents {
    display: table;
    width: 100%;
  }

  &__submit-container {
    padding-top: 5px;
    width: 100%;
    text-align: center;
  }

  &__field {
    display: table-row;
    margin: 10px 0px;

    &__label {
      color: colors(grey);
      padding-right: 15px;
      margin-right: 10px;
      // text-transform: uppercase;
      letter-spacing: .7px;
      font-size: 12px;
      text-align: right;
      // border-right: 1px solid colors(grey);
      width: 25%;
    }

    & > * {
      display: table-cell;
      vertical-align: middle;
      margin: 10px 10px 10px 0px;
    }

    .form__image-upload, input, textarea {
      width: 85%;

    }
  }

  &__image-upload {
    padding: 10px 0px;
    &__preview-container {
      display: table;
    }
    &__preview, &__change-image {
      display: table-cell;
      vertical-align: middle;
    }

    &__preview {
      height: 100px;
      width: 140px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;

    }

    &__change-image {
      margin-left: 10px;
    }

    &__image-input {
      border: standard-border(grey);
      border-style: dashed;
      padding: 15px;
      cursor: pointer;

      &:hover {
        background-color: colors(offwhite);
      }

      p {
        font-size: 12px;
        color: colors(grey);
      }
    }
  }
}
