$border-radius: 5px;

.grid {
  &__item {
    box-shadow: standard-shadow(grey);
    transition: opacity 1000ms ease-in-out;
    opacity: 0;
    border-radius: $border-radius;

    &.clickable {
      cursor: pointer;
      &:hover {
        box-shadow: standard-hover-shadow(grey);

        .grid__item__image {
          opacity: .8;
        }
      }
    }

    &.item-type-resource {
      height: grid-item-height(resource);
    }

    &__image {
      background-color: colors(offwhite);
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 150px;
      text-align: center;
      position: relative;
      transition: opacity 200ms ease-in-out;

      .item-type-collection & {
        height: grid-item-height(collection);
        border-radius: $border-radius;
      }

      .item-type-subcollection & {
        height: grid-item-height(subcollection);
        border-radius: $border-radius;
      }

      .item-type-resource & {
        transform: translateY(2*grid-item-height(resource)/5);
        height: calc(3*grid-item-height(resource)/5 - 7px);

        box-shadow: inset 0px 3px 25px -7px colors(grey);
        // border-bottom-left-radius: $border-radius;
        // border-bottom-right-radius: $border-radius;
        width: 87%;
        margin: auto;

        background-position: 50% 0%;
      }

      .item-type-team & {
        height: grid-item-height(team)/2;
      }

      .item-type-user & {
        display: none;
      }

      .icon {
        height: 100px;
        top: 50%;
        position: relative;
        transform: translateY(-50%);

        path, polygon {
          fill: colors(grey);
        }
      }
    }
    &__content {
      width: 100%;
      height: 120px;
      text-align: center;
      background-color: colors(white);
      position: relative;

      .item-type-collection & {
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,.6);
        height: grid-item-height(collection);
        border-radius: $border-radius;
        transition: background-color 200ms ease-in-out;

        &:hover {
          background-color: rgba(0,0,0,.3);
        }
      }

      .item-type-subcollection & {
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,.6);
        height: grid-item-height(subcollection);
        border-radius: $border-radius;
        transition: background-color 200ms ease-in-out;

        &:hover {
          background-color: rgba(0,0,0,.3);
        }
      }

      .item-type-resource & {
        // transform: translateY(-2*grid-item-height(resource)/5);
        height: 2*grid-item-height(resource)/5;
        position: absolute;
        top: 0;
        // border-bottom: 1px solid colors(grey);
        // background-color: none;
        // background: linear-gradient(0deg, colors(white), rgba(255,255,255,.8) 30%, rgba(255,255,255,0));
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      .item-type-team & {
        height: grid-item-height(team)/2;
      }

      .item-type-user & {
        height: grid-item-height(user);
      }

    }

    &__text {
      top: 50%;
      position: relative;
      transform: translateY(-50%);

      &__main {
        color: colors(black);
        margin: 0px;
        padding: 0px 15px;
        font-size: 16px;
        line-height: 1.4;
        z-index: 20;
        @include handleLongText();

        .item-type-collection & {
          color: colors(white);
        }

        .item-type-subcollection & {
          color: colors(white);
        }

        .item-type-team & {

        }
      }

      &__sub {
        color: colors(grey);
        font-weight: normal;
        margin: 0px;
        padding: 0px 10px;
        font-size: 15px;
        padding-bottom: 10px;
        @include handleLongText();

        .item-type-collection & {
          color: colors(blue-20);
          font-size: 13px;
        }
      }

      .icon {
        height: 14px;
        fill: colors(grey);
        margin-bottom: 3px;

        .item-type-subcollection & {
          fill: colors(white);
        }
      }
    }

    &__plus {
      height: 110px;

      * {
        fill: colors(grey);
        stroke: colors(grey);
      }

    }

    &.item-type-add-new {
      box-shadow: none !important;
      background: none;
      border: 1px solid colors(grey);
      border-style: dashed;
      text-align: center;
      position: relative;
      height: 100%;

      .grid__item__text {
        top: 10px;
      }

      .grid__item__add-new-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        border-color: colors(black);
         * {
          fill: colors(black);
          stroke: colors(black);
          color: colors(black);
        }

      }
    }
  }
}

.react-draggable-dragging {
  // z-index: 100;
  margin-top: -20px;
  // & > .grid__item {
  //   transform: translateY(-20px);
  // }

}
