$page-header-height: 200px;

.page-header {
  height: $page-header-height;
  background: linear-gradient(0deg, colors(offwhite), colors(white), colors(offwhite));

  &.with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
  }
  &__contents {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    z-index: 10;
    padding: 20px;

    .with-image & {
      color: white;
    }
  }

  &__overlay {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: $page-header-height;
    z-index: 5;
  }

  &__byline {
    font-size: 14px;
    color: colors(grey);
    text-transform: uppercase;
  }
}
