.resource {

  &__header, &__content {
    // padding: 15px;
  }

  &__header {
    background-color: colors(white);
    box-shadow: 0 5px 12px -10px colors(blue);
    z-index: 2;
    position: relative;

    // &__arrow-container {
    //   position: absolute;
    //   width: 100%;
    // }
    &__text {
      padding: 25px 45px;
      position: relative;

      h1 {
        font-size: 24px;
        display: inline-block;
        padding-right: 20px;
        vertical-align: middle;
      }
    }
    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.prev {
        left: 7px;
        .icon {
          transform: rotate(180deg);
        }
      }
      &.next {
        right: 7px;
      }
      .icon {
        height: 20px;
        fill: colors(grey);
        cursor: pointer;

        &:hover {
          fill: colors(blue);
        }

      }
    }
  }

  &__content {
    background-color: colors(offwhite);
    z-index: 1;

    .ReactPDF {
      &__Document {

      }

      &__Page {
        padding: 20px 0px;
        // border-bottom: 1px solid colors(blue-50);

        // & > * {
        //   max-width: 100% !important;
        //   overflow-x: hidden;
        // }

        &__canvas {
          margin: auto;

        }
      }
    }
  }

  &__video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
  }

  &__video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__richtext {
    padding: $standard-padding;
    background-color: colors(white);
  }

}
