.resource {

  &__header, &__content {
    // padding: 15px;
  }

  &__header {
    background-color: colors(white);
    box-shadow: 0 5px 20px -10px colors(grey);
    z-index: 2;
    position: fixed;
    transform: translateX(2px);

    width: calc(100% - 54px);

    &__content {
      position: relative;
      padding: 7px 7px;
    }

    &__text {
      position: relative;
      font-size: 16px;
      display: inline-block;
      padding-right: 20px;
      vertical-align: middle;
      color: colors(black);
      font-weight: bold;
    }

    &__button-container {
      display: inline-block;
      position: relative;
      float: right;
    }

    &__button {
      color: colors(blue);
      display: inline-block;
      font-weight: normal;
      cursor: pointer;
      padding: 0px 7px;

      &:hover {
        color: colors(grey);
      }
    }

    // &__arrow {
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   &.prev {
    //     left: 7px;
    //     .icon {
    //       transform: rotate(180deg);
    //     }
    //   }
    //   &.next {
    //     right: 7px;
    //   }
    //   .icon {
    //     height: 20px;
    //     fill: colors(grey);
    //     cursor: pointer;
    //
    //     &:hover {
    //       fill: colors(blue);
    //     }
    //
    //   }
    // }
  }

  &__content {
    background-color: colors(offwhite);
    z-index: 1;
    padding: 30px $standard-padding 10px;

    .ReactPDF {
      &__Document {

      }

      &__Page {
        padding: 20px 0px;
        // border-bottom: 1px solid colors(blue-50);

        // & > * {
        //   max-width: 100% !important;
        //   overflow-x: hidden;
        // }

        &__canvas {
          margin: auto;
          box-shadow: standard-shadow(grey);
        }
      }
    }

    &__video {
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: 50%;
    }

    &__video iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__richtext {
      padding: $standard-padding;
      background-color: colors(white);
    }

    &__image {
      width: 100%;
      overflow-x: hidden;
      &__image-container {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__website {
      width: 100%;
      padding: 25px;
      overflow-x: hidden;

      &__screenshot {
        display: block;
        width: 100%;
        height: auto;

        &:hover {
          opacity: .8;
        }
      }
    }
  }



  &__footer {
    & > * {
      font-size: 16px;
      color: colors(black);
    }
  }

}
