$item-padding: 3px;
.resource-type-selector {

  &__item {
    // box-shadow: standard-shadow(blue-10);
    border: 1px solid colors(dark-blue);
    background-color: colors(white);
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: colors(dark-blue);

      .resource-type-selector__item {
        &__text, &__icon {
          color: colors(white);
          fill: colors(white);
        }
      }
    }

    &__text {
      position: relative;
      top: 80%;
      transform: translateY(-50%);
      margin: 0px;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      color: colors(dark-blue);
    }

    &__icon {
      height: 40px;
      fill: colors(dark-blue);
      // stroke: colors(grey);
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
}
