.search {
  input {
    width: 33%;
    margin-bottom: 15px;
  }

  .react-autosuggest__suggestions-container {
    max-height: 800px;
    overflow-y: scroll;
    border-bottom: 1px solid colors(blue-30);
  }

  &__results-list {
    &__item {
      border: 1px solid colors(blue-20);
      border-bottom: none;

      padding: 10px 10px;
      cursor: pointer;

      &:hover {
        background-color: colors(blue-20);
      }

      &__title, &__subheading {
        display: inline-block;
      }

      &__title {
        font-weight: bold;
        padding-left: 10px;
      }

      &__subheading {
        font-weight: normal;
        color: colors(grey);
        padding-left: 10px;
      }

      .icon {
        height: 12px;
        fill: colors(grey);
        stroke: colors(grey);
      }

      &__extended-view {
        max-height: 0px;
        transition: max-height 500ms ease-in;

        .extended & {
          max-height: 1000px;
        }

        &__contents {
          background-color: colors(blue-10);
          margin-top: 10px;
          padding: 10px;
        }

        &__field {
          padding: 4px 0px;

          &__label, &__value {
            display: inline-block;
          }

          &__label {
            font-weight: bold;
            margin-right: 5px;
          }

          &__value {
            font-weight: normal;
          }
        }

        &__button {
          margin-top: 10px;

        }

      }
    }
  }
}

.react-autosuggest {
  &__suggestions-container {
    max-height: 300px;
    overflow-y: scroll;
  }
}
