.team-home-page {
  &__contents {
    padding: 15px 10px;
  }

  &__section-title {
    margin: $standard-padding $standard-padding 0px;
    padding-bottom: 5px;
    color: colors(blue-70);
    font-weight: normal;
    // text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid colors(blue-50);
  }

  &__section {
    padding: 0px;
  }

  &__section-divider {
    margin: 15px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
  }

  &__search {
    padding: 15px 0px;
    margin: 0px 20px;
    box-sizing: border-box;
  }

  &__text {
    font-size: 16px;
    font-weight: normal;
    padding: 15px 10px;

    &__link {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: colors(blue);
      }
    }
  }

  &__placeholder-text {
    font-size: 14px;
    font-weight: normal;
    color: colors(grey);
    padding: 20px 20px;
    font-style: italic;

  }

  &__button {
    margin: 20px 20px 0px;
  }
}
