.top-nav {
  width: 100%;
  position: fixed;
  // background: colors(white);
  // color: colors(blue);
  // border-bottom: standard-border(blue);
  height: $top-nav-height;
  z-index: 20;

  &__contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 10px;
  }

  &__logo, &__left, &__right {
    display: inline-block;
  }

  &__logo {
    vertical-align: middle;
    padding-right: 15px;
    color: colors(blue);
    border-right: standard-border(blue);
    margin-right: 15px;
    font-size: 30px;
  }

  &__left {
    position: relative;
    left: 0;
  }

  &__right {
    position: absolute;
    right: 0;
  }

  &__link {

  }


}
