$color-palette: (
  white: #ffffff,
  orange: #ff7e1c,
  blue: #54a2de,
  blue-10: #ECF4FB,
  blue-20: #d9eaf7,
  blue-30: #c6e0f4,
  blue-40: #b3d5f0,
  blue-50: #a0cbec,
  blue-60: #8dc1e9,
  blue-70: #7ab6e5,
  blue-80: #67ace1,
  grey: #a8a8a8,
  black: #2c2f35,
  offwhite: rgb(247, 249, 252),
);

@function colors($key) {
	@return map-get($color-palette, $key);
}
