<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>My Library Guide</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WC24J8H');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" href="https://www.librarieswithoutborders.org/wp-content/uploads/2016/08/cropped-favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://www.librarieswithoutborders.org/wp-content/uploads/2016/08/cropped-favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.librarieswithoutborders.org/wp-content/uploads/2016/08/cropped-favicon-180x180.png">
    <meta name="msapplication-TileImage" content="https://www.librarieswithoutborders.org/wp-content/uploads/2016/08/cropped-favicon-270x270.png">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC24J8H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app"></div>
  </body>
</html>
