@import url('https://fonts.googleapis.com/css?family=Roboto');

// @font-face {
//   font-family: "BebasNeue-Book";
//   src: url("../../static/fonts/bebas_neue/BebasNeue-Book.otf") format("otf"),
// }


body {
  margin: 0px;
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  margin: 0px;
}

a:link, a:visited    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            colors(black);
}

a:hover, a:active   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:            colors(blue);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input, textarea {
  padding: 10px;
  border: 1px solid colors(grey);

  &:focus {
    outline-color: colors(blue-20);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -3px;
  }
}

input {
    max-width: 400px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.button {
  background-color: colors(blue);
  color: white;
  box-shadow: standard-shadow(grey);
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    // box-shadow: standard-hover-shadow(grey);
    opacity: .8;
  }

  &.button-white {
    background-color: colors(white);
    color: colors(grey);
    box-shadow: none;
    border: 1px solid colors(grey);

    &:hover {
      color: colors(black);
      border-color: colors(black);
      opacity: 1;
    }
  }

  &.button-transparent {
    background-color: rgba(0,0,0,0);
    color: colors(white);
    box-shadow: none;
    border: 1px solid colors(white);
    border-color: colors(white);
    transition: all 300ms ease-in-out;
    // font-weight: bold;

    &:hover {
      color: colors(black);
      // border-color: colors(blue);
      opacity: 1;
      background-color: colors(white);
      box-shadow: standard-shadow(grey);

      * {
        color: colors(black);
      }
    }
  }
}
